@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Regular.eot');
    src: url('./fonts/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Regular.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Bold.eot');
    src: url('./fonts/BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Light.eot');
    src: url('./fonts/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Light.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/BasisGrotesquePro-Medium.eot');
    src: url('./fonts/BasisGrotesquePro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Medium.woff') format('woff'),
        url('fonts/BasisGrotesquePro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: fallback;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: inherit;

}

body {
    width: 100%;
    font-family: 'BasisGrotesquePro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;

}

/* .container {
    width: 100vw;
} */

.img {
    width: 100%;
    /* display: block; */
}

/* Text decoration */

.logo__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.35;
}

.h3-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.9;
}

.h3-title_blue,
.text_blue {
    color: #0536FC;
}

.title__tagline {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 430px;
}

.title__tagline_h1 {
    font-size: 57px;
    line-height: 104%;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.6;
}

.text_menu {
    text-transform: uppercase;
    opacity: 0.85;
}

/* Header */

.nav {
    height: 70px;
    background-color: #ffffff;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.nav__logo {
    width: 23%;
}

.nav__menu {
    width: 57%;
}

.nav__lang {
    width: 20%;
}


.logo {
    display: flex;
    align-items: center;

}

.logo__img {
    position: relative;
    top: 22px;
}

.logo__text {
    display: inline-block;
    padding-left: 10px;

}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.menu-item {
    display: inline-block;
}

.menu__list:first-of-type {
    margin-right: 20px;
}

.menu__list:nth-of-type(2) {
    margin-right: 20px;
}

.menu-item__link {
    display: flex;

}

.menu-item__text {
    display: inline-block;
}

/* .menu-item__arrow {
    display: inline-block;
    background-image: url(../img/menu_arrow_icon.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 10px;
    height: 5px;
    margin: 9px 10px 10px 10px;
} */

.menu-item__arrow::before {
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: translateX(10px) rotate(45deg) translateY(-100%);
    -webkit-transform: translateX(10px) rotate(45deg) translateY(-100%);

}

.lang {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.burger {
    display: none;
}

/* Section grid */

.about-us {
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;

}

.about-us__title-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 10;
    position: relative;
}

.about-us__button_ridht {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 10;
}

.about-us__button_left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 10;
}

.about-us__img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 10;
}

.about-us__description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 20;
}


.about-us__button {
    height: 90px;
}
.about-us__button:hover {
    transition: background-color 500ms ease-out;
}

.two-item-section__wrapper_left {
    padding-left: 29.16%;
    /* 210px */
}



.title__name {
    padding-bottom: 30px;
}

.title__tagline {
    padding-bottom: 70px;
}

.title__text {
    max-width: 325px;
}

.about-us {
    position: relative;
}

.scroll-link {
    position: absolute;
    z-index: 40;
    bottom: 4.26%;

    right: 4.86%;

}

.scroll-link:hover {
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-link_about_us {
    bottom: 27.26%;
}

@media screen and (max-width: 1315px) {


    .nav {
        align-items: center;
    }

    .nav__logo {
        width: 90%;
    }

    .nav__menu {
        display: none;
    }

    .nav__lang {
        display: none;
    }


    .burger {
        display: block;
    }
}

@media screen and (max-width: 900px) {

    .scroll-link {
        display: none;
    }

    .about-us {
        width: 100vw;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 50% 50%;

    }

    .about-us__title-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 10;
    }

    .about-us__button_left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 10;
    }

    

    .about-us__button_right {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 10;
    }


    .about-us__img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        z-index: 10;
    }

    .about-us__description {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        z-index: 20;
    }

}

@media screen and (max-width: 800px) {


    .about-us {
        width: 100vw;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;

    }

    .about-us__title-wrapper {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 10;
    }

    .about-us__button_ridht {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 10;
    }

    .about-us__button_left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        z-index: 10;
    }

    .about-us__img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 10;
    }

    .about-us__description {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        z-index: 20;
    }

}

@media screen and (max-width: 365px) {

    .nav {
        padding: 0 20px;
    }

}